### Excel과 Pandas, Numpy 라이브러리를 이용해 사용할 데이터를 생성

In [2]:
import pandas as pd
import numpy as np

#### 1. Excel 데이터를 SQL Query 문법에 맞는 코드로 변환하여 MySQL WorkBench에 복사&붙여넣기

In [127]:
User = pd.read_excel('InsertData.xlsx', sheet_name='User', header=0)

for i in range(len(User)):
    row = User.iloc[i, :].tolist()
    for idx in range(len(row)):
        if str(type(row[idx])) == "<class 'pandas._libs.tslibs.timestamps.Timestamp'>":
            new_factor = str(row[idx]).split()[0]
            row[idx] = new_factor          
    print('INSERT INTO USER VALUES ', tuple(row), ';', sep='')

INSERT INTO USER VALUES (1, 'sinatrasinatra', '2021-07-04');
INSERT INTO USER VALUES (2, 'armstrong111', '2021-07-21');
INSERT INTO USER VALUES (3, 'colkingnat', '2021-08-28');
INSERT INTO USER VALUES (4, '20bennett', '2021-08-29');
INSERT INTO USER VALUES (5, 'jamesbobby', '2021-09-03');
INSERT INTO USER VALUES (6, '4_play', '2021-09-09');
INSERT INTO USER VALUES (7, 'GeorgeBenson', '2021-09-20');
INSERT INTO USER VALUES (8, 'aluminumeola', '2021-10-01');
INSERT INTO USER VALUES (9, 'mason0409', '2021-10-11');
INSERT INTO USER VALUES (10, 'jackson251', '2021-10-13');

In [128]:
Class = pd.read_excel('InsertData.xlsx', sheet_name='Class', header=0)

for i in range(len(Class)):
    row = Class.iloc[i, :].tolist()
    for idx in range(len(row)):
        if str(type(row[idx])) == "<class 'pandas._libs.tslibs.timestamps.Timestamp'>":
            new_factor = str(row[idx]).split()[0]
            row[idx] = new_factor          
    print('INSERT INTO CLASS VALUES ', tuple(row), ';', sep='')

INSERT INTO CLASS VALUES (1, 'Worrier', 10, 10, 1, 1, 1, 10, 5);
INSERT INTO CLASS VALUES (2, 'Magician', 1, 1, 10, 10, 3, 3, 10);
INSERT INTO CLASS VALUES (3, 'Archer', 5, 4, 5, 4, 10, 5, 5);
INSERT INTO CLASS VALUES (4, 'Blacksmith', 4, 4, 4, 4, 10, 8, 4);

In [4]:
UserCharacter = pd.read_excel('InsertData.xlsx', sheet_name='UserCharacter', header=0)

for i in range(len(UserCharacter)):
    row = UserCharacter.iloc[i, :].tolist()
    for idx in range(len(row)):
        if str(type(row[idx])) == "<class 'pandas._libs.tslibs.timestamps.Timestamp'>":
            new_factor = str(row[idx]).split()[0]
            row[idx] = new_factor          
    print('INSERT INTO USER_CHARACTER')
    print('\t(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)')
    print('\tVALUES ', tuple(row), ';', sep='')

INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (1, 1, 1, 1, '2021-07-04');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (2, 1, 2, 4, '2021-07-06');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (3, 1, 3, 2, '2021-09-09');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (4, 1, 4, 3, '2021-10-11');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (5, 1, 5, 4, '2021-12-10');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (6, 1, 6, 4, '2021-12-10');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (7, 2, 1, 2, '2021-07-21');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (8, 2, 2, 1, '2021-11-25');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (9, 3, 1, 1, '2021-08-28');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (10, 4, 1, 1, '2021-08-29');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (11, 5, 1, 1, '2021-09-03');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (12, 5, 2, 2, '2021-10-25');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (13, 6, 1, 3, '2021-09-09');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (14, 7, 1, 1, '2021-09-20');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (15, 8, 1, 3, '2021-10-01');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (16, 9, 1, 4, '2021-10-11');
INSERT INTO USER_CHARACTER
	(CharacterID, UserID, UserCharacterID, ClassID, DateCreated)
	VALUES (17, 9, 2, 3, '2021-10-14');

print 함수를 통해 출력된 INSERT문은 프로젝트 폴더의 Insert Data.sql 파일에서 사용합니다.

#### 2. 삽입된 User, Class, User_Character 데이터를 바탕으로 조건에 부합하는 적당한 Character_Connect, Character_Payment 데이터 생성
---
- Character_Connect
  - ConnectID(PK), CharacterID(FK), ConnectTime(접속한 시간), ConnectDate(접속 날짜)
  - 게임 내의 모든 캐릭터에 대해, 그 캐릭터가 생성된 날짜부터 현재까지의 접속 내역을 보여주는 테이블
  - 캐릭터의 마지막 접속 날짜를 임의로 가정한 뒤, 접속 내역을 무작위로 생성하는 절차를 통해 예시 데이터를 만들었다.
  - 캐릭터의 생성 날짜와 마지막 접속 날짜와의 시간 차를 바탕으로, 차이가 클수록 더 많이 접속했을 가능성이 높도록 데이터를 생성했다.
---
- Character_Payment
  - PaymentID(PK), CharacterID(FK), Payment(결제한 금액), PayDate(결제 날짜)
  - 게임 내의 모든 캐릭터에 대해, 그 캐릭터가 생성된 날짜부터 현재까지의 현금결제 내역을 보여주는 테이블
  - 마찬가지로 캐릭터의 마지막 접속 날짜를 임의로 가정한 뒤, 결제 내역을 무작위로 생성하였다.
  - 캐릭터의 생성 날짜와 마지막 접속 날짜와의 시간 차를 바탕으로, 차이가 클수록 더 많이 게임에 현금결제를 했을 가능성이 높도록 데이터를 생성했다.

In [49]:
# 빈 데이터프레임 생성
ConnectDf = pd.DataFrame()
PaymentDf = pd.DataFrame()

# UserCharacter의 모든 Character에 대해, 적당한 Connect, Payment 데이터를 생성할 것.
for i in range(len(UserCharacter)):
    row = UserCharacter.iloc[i, :].tolist()

    # 각 Character의 ID와 Character가 생성된 날짜
    CharacterID, DateCreated = row[0], row[4]

    # ConnectDf의 ConnectDate는 항상 DateCreated(Character가 생성된 날짜)보다 커야 한다.
    # LastConnectDate가 될 수 있는 여러 Timestamp중, 현재 character ID의 생성 날짜보다 더 뒤의 Timestamp를 고른다.
    LastConnectDateCandidates = [
        pd.Timestamp(2021, 12, 14),
        pd.Timestamp(2021, 12, 10),
        pd.Timestamp(2021, 12, 7),
        pd.Timestamp(2021, 12, 3),
        pd.Timestamp(2021, 12, 1),
        pd.Timestamp(2021, 11, 30),
        pd.Timestamp(2021, 11, 23),
        pd.Timestamp(2021, 11, 15),
        pd.Timestamp(2021, 11, 8),
        pd.Timestamp(2021, 11, 1),
    ]
    ChoiceList = list(filter(lambda x: DateCreated < x, LastConnectDateCandidates))
    LastConnectDate = np.random.choice(ChoiceList)

    # 고른 LastConnectDate와 DateCreated간의 차이를 day로 나타낸다.
    day_gap = (LastConnectDate - DateCreated).total_seconds()/3600/24

    # 몇 번 접속했는지를 Random하게 정해주기 위해, 캐릭터 생성 날짜부터 마지막 접속일까지의 시간 차를 바탕으로
    # 접속 횟수 하한과 상한을 설정한다.
    # 생성 날짜부터 마지막 접속일까지 150일일 경우, 가장 낮은 접속 횟수는 30번, 가장 높은 접속 횟수는 60번을 가정
    # 생성 날짜부터 마지막 접속일까지 1일일 경우, 가장 낮은 접속 횟수 0, 가장 높은 접속 횟수가 1번이라고 가정
    # day gap이 증가할수록 선형적으로 증가하도록 함
    # low의 경우 (150, 30), (1, 0)을 잇는 직선을, high의 경우 (150, 60), (1, 1)을 잇는 직선을 그린 것과 마찬가지
    low_freq = np.trunc((30-1)/(150-1) * (day_gap - 1) + 1)
    high_freq = np.trunc((60-1)/(150-1) * (day_gap - 1) + 1)

    # 마찬가지로, 몇 번 결제했는지 또한 Random하게 정해주기 위해 위와 같은 과정을 거친다.
    # day_gap = 150일 때, low = 5, high = 15
    # day_gap = 1일 때, low = 0, high = 1
    low_pay_freq = np.trunc((5)/(150-1) * (day_gap - 1))
    high_pay_freq = np.trunc((15)/(150-1) * (day_gap - 1))

    # Connect Df Generation
    if low_freq==high_freq:
        number = int(low_freq)
    else:
        number = np.random.randint(low_freq, high_freq)
    ConnectTimeList = np.random.randint(1, 10, size=number)
    ConnectDateList = np.random.randint(0, int(day_gap), size=number)
    ConnectDateList.sort()

    for num in range(number):
        ConnectTime = ConnectTimeList[num]
        ConnectDateGap = ConnectDateList[num]
        ConnectDate = DateCreated + pd.Timedelta(days=ConnectDateGap)
        ConnectDate = str(ConnectDate).split()[0]
        new_row = (CharacterID, ConnectTime, ConnectDate)
        
        ConnectDf = ConnectDf.append(pd.Series(new_row), ignore_index=True)


    # Payment Df Generation
    if low_pay_freq==high_pay_freq:
        number = int(low_pay_freq)
    else:
        number = np.random.randint(low_pay_freq, high_pay_freq)
    PayDateList = np.random.randint(0, int(day_gap), size=number)
    PayDateList.sort()

    for num in range(number):
        PayDateGap = PayDateList[num]
        PayDate = DateCreated + pd.Timedelta(days=PayDateGap)
        PayDate = str(PayDate).split()[0]
        Payment = np.random.choice([100, 200, 300, 400, 500])
        new_row2 = (CharacterID, Payment, PayDate)

        PaymentDf = PaymentDf.append(pd.Series(new_row2), ignore_index=True)
    
ConnectDf.columns = ['CharacterID','ConnectTime','ConnectDate']
ConnectDf.sort_values(by='ConnectDate', ascending=True, inplace = True)
ConnectDf.reset_index(inplace=True)
ConnectDf.columns = ['ConnectID','CharacterID','ConnectTime','ConnectDate']
ConnectDf['ConnectID'] = np.arange(1, len(ConnectDf)+1)

PaymentDf.columns = ['CharacterID','Payment','PayDate']
PaymentDf.sort_values(by='PayDate', ascending=True, inplace = True)
PaymentDf.reset_index(inplace=True)
PaymentDf.columns = ['PaymentID','CharacterID','Payment','PayDate']
PaymentDf['PaymentID'] = np.arange(1, len(PaymentDf)+1)

In [51]:
# 덮어쓰기 되니 실행 X
# ConnectDf.to_csv('CharacterConnect.csv', index=False)
# PaymentDf.to_csv('CharacterPayment.csv', index=False)

만들어진 두 개의 csv 파일은 MySQL Workbench에서 'Table Date Import Wizard' 기능을 이용해 데이터를 MySQL로 불러들이는 데 사용합니다.